/*
 * reference: https://codepen.io/gaearon/pen/LyyXgK?editors=0010
 */
.square {
  background: black;
  border: none;
  float: left;
  height: 16px;
  margin-right: -1px;
  margin-top: -1px;
  width: 16px;
}

.square:focus {
  outline: none;
}

.snake {
	background: #6CBB3C;
}

.head {
  background: #4AA02C;
}

.food {
	background: #A91B0D;
}